<%= simple_form_for involvement, url: form_action_url do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :person,
                      collection: available_people_for_involvement(involvement),
                      include_blank: "Sélectionnez une personne" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('save'), class: 'btn btn-primary' %>
  </div>
<% end %>
