<%= simple_form_for(role) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-8">
      <h2><%= t('info') %></h2>
      <div class="form-inputs">
        <%= f.input :description %>
      </div>
    </div>
    <div class="col-md-4">
      <h2><%= Involvement.model_name.human(count: 2) %></h2>

      <%= link_to_add_association t('add'), f, :involvements, class: "btn btn-primary mb-3", data: {
            'association-insertion-method': 'append',
            'association-insertion-node':   '#involvements'
          } %>

      <div class="mb-3" id="involvements" data-sortable="inputs">
        <%= f.simple_fields_for :involvements, role.involvements.sort_by(&:position), include_id: false do |involvement_f| %>
          <%= render 'roles/involvement_fields', f: involvement_f, include_id: true %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('save'), class: 'btn btn-primary' %>
  </div>
<% end %>
