<!DOCTYPE html>
<html>
  <head>
    <title>Unique Nested App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= render 'components/header' %>
    <%= render 'components/breadcrumb' %>

    <main class="container-fluid py-4">
      <div class="container">
        <% if notice.present? %>
          <div class="alert alert-primary"><%= sanitize notice %></div>
        <% end %>
        <% if alert.present? %>
          <div class="alert alert-danger"><%= sanitize alert %></div>
        <% end %>
      </div>

      <%= yield %>
    </main>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
